body{
    background : linear-gradient(#99ccff, floralwhite);
    font-family: Helvetica;
    margin: 0;
    z-index: -5;
}

.logo{
    width: 130px;
    height: 130px;
    position: relative;
    float: left;
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header{
    margin-bottom: 75px;
    border-bottom-width: 5px;
    padding-top: 75px;
    padding-bottom: 25px;
    border-bottom-style: ridge;
    border-color: darkslategray;
    background-color: #C2E3EA;
    width: 100%;
    color: darkslategray;
    z-index: -1;
}

h1{
    font-size: 40px;
    text-align: inherit;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.input_form{
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 100px;

}

.input_form .title{
    color: darkslategray;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: floralwhite;
}

.faculty_input_form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10 75;
}

.faculty_input_form form{
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 50;
}

.faculty_input_form .title{
    color: darkslategray;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: floralwhite;
}



form{
    align-content: center;
    margin: 0 auto;
    width: 60%;
    padding: 50;
    background-color: #C2E3EA;
    border-style: solid;
    border-width: medium;
    border-color: floralwhite;
    font-size: 20px;
}

input[type=text]{
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-width: medium;
    border-color: floralwhite;
    font-size: 18px;
}



input[type=text]:focus{
    color: darkslategray;
    background-color: floralwhite;
}

input[type=radio]{
    display:inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.delete_form{
    position: sticky;
    float:right;
    margin-right: 75px;
    padding-right: 100px;
    margin-top: 100px;
    padding-top: 75px;
    padding-left: 100px;
    padding-bottom: 75px;
    background-color: #C2E3EA;
    border-style: solid;
    border-width: medium;
    border-color: floralwhite;
    font-size: 18px;
}

.delete_form input[type=text]{
    margin-left: 25px;
    width: 150px;
    padding: 5px;
    background-color: transparent;
    border-style:double;
    border-width: medium;
    border-color: #007399;
}